.title {
	text-align: center;
}

.imageContainer {
	display: flex;
	justify-content: space-around;
	overflow: hidden;
	flex-wrap: wrap;
	gap: 1rem;
	margin: 20px;
}

.preText {
	max-width: 800px; /* Ограничиваем ширину текста для удобства чтения */
	margin: 0 auto; /* Центрируем блок по горизонтали */
	padding: 20px; /* Внутренние отступы */
	background-color: #f9f9f9; /* Светлый фон для выделения текста */
	border-radius: 8px; /* Закругленные углы */
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень для объема */
	line-height: 1.6; /* Увеличиваем межстрочный интервал */
	font-size: 1.1rem; /* Размер шрифта */
	color: #333; /* Цвет текста */
}

.preText p {
	margin-bottom: 16px; /* Отступ между параграфами */
}

.preText h3 {
	margin-top: 24px; /* Отступ сверху для заголовка */
	font-size: 1.5rem; /* Размер шрифта заголовка */
	color: #222; /* Цвет заголовка */
	text-align: center; /* Центрируем заголовок */
}

.preText p:last-child {
	margin-bottom: 0; /* Убираем отступ у последнего параграфа */
}
