.catalog {
	padding: 20px;
	text-align: center;
}

.catalogTitle {
	font-size: 2.5rem;
	margin-bottom: 20px;
	color: #333;
}

.section {
	margin-bottom: 40px;
}

.sectionTitle {
	font-size: 2rem;
	margin-bottom: 20px;
	color: #222;
}
