button {
	background: none;
	border: none;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s ease, transform 0.3s ease;
	border-radius: 5px;
	text-decoration: none;
	text-align: center;
}

button:hover {
	background: none;
	color: black;
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-ms-transform: scale(1.05);
	-o-transform: scale(1.05);
	transform: scale(1.05);
}
