.imageCard {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 250px; /* Фиксированная ширина карточки */
	border: 1px solid #ddd;
	border-radius: 8px;
	overflow: hidden;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	background-color: #fff;
}

.imageContainer {
	width: 100%;
	height: 200px; /* Фиксированная высота контейнера для изображения */
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}

.image {
	width: 100%;
	height: 100%;
	object-fit: cover; /* Сохраняет пропорции и заполняет контейнер */
}

.description {
	padding: 10px;
	font-size: 0.9rem;
	color: #333;
	text-align: center;
	margin: 0;
}
